// Typography
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-normal: 0.875rem;
$font-size-medium: $font-size-normal * 2;
$font-size-large: $font-size-medium * 2.5;
$line-height-base: 1.5;

// Navbar
$navbar-link: #9E9E9E;
$navbar-link-hover-active: #00BFA5;

// Border
$radius-base: 0.125rem;

// Color
$teal: #00BFA5;
